<div ng-controller="PluginsController">
	<div class="ui action input">
		<input type="text" ng-model="keywords" name="keywords" placeholder="Search...">
  <div class="ui blue submit button" ng-click="search(keywords)">Search</div>
</div>
<div class="ui form segment">
	<button class="ui green button" ng-click="newPlugin()">Add Plugin</button>
</div>
<h2 class="ui center aligned inverted green block header">Plugins</h2>
<div ng-if="plugins" class="ui three items">
	<div ng-repeat="plugin in plugins" class="ui item">
		<div class="image">
			<a class="pencil ui corner label" ng-click="edit(plugin.id)">
				<i class="pencil icon"></i>
			</a>
		</div>
		<div class="content">
			<div class="name">
				<a href ng-click="view(plugin.id)">{{ plugin.name }}</a>
			</div>
			<p class="description">{{ plugin.description }}</p>
		</div>
	</div>
</div>
</div>